/* Dont forget to add the progresses in Java Strings */
.progress1  { -fx-accent: green;  }
.progress2 { -fx-accent: yellow; }
.progress3 { -fx-accent: orange; }
.progress4    { -fx-accent: red;    }
.progress5    { -fx-accent: silver;    }
.progress6    { -fx-accent: gold;    }

