.textfield-as-label {
    -fx-text-fill: green;
    -fx-font: 30 "Lucida Console";
}


.text-area .scroll-bar:vertical:disabled {
    -fx-opacity: 0;
}
.text-area {
	text-area-background: #000000;
    -fx-background-insets: 0;
    -fx-background-color: #000000;
}

.text-area .content {
    -fx-background-color: #000000;
}

.text-area:focused .content {
   -fx-background-color: #000000; 
}

.text-area:focused {
    -fx-highlight-fill: #000000;
}

.text-area .content {
    -fx-padding: 10px;
    -fx-text-fill: gray;
    -fx-highlight-fill: #000000;
}

.text-area:disabled {
	text-area-background: #000000;
    -fx-background-insets: 0;
    -fx-background-color: #000000;
	-fx-opacity: 1.0;
}
